.templatemo-top-bar {
    min-height: 40px;
    background-color:#eeeeee;
}

.templatemo-top-menu {
    position: fixed;
    /*min-height:100px;*/
    background-color:#ffffff;
    z-index: 5000;
    width:100%;
    box-shadow: 0px 3px 6px -2px rgba(0,0,0, 0.5);
}

.templatemo-top-menu .navbar-toggle {
    margin-top: 38px;
}

.templatemo-top-menu .navbar-brand {
    padding: 0;
    margin: 8px 0 0 0;
}

.templatemo-top-menu .navbar-brand>img {
    display: inline-block;
}
.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}


.nav > li > a {
    color: #929292;
}
.navbar-default {
    background-color:#fff;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff7600;
    color:#fff;
}

.navbar {
    margin-bottom: 0px;
}

.homepage-background-div {
    background: url(../assets/images/background.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.dropdown-user .dropdown-toggle>img {
    width: 50px;
}
.gallery-background-text {
    margin: 0;
    text-shadow: 3px 2px 3px #000;
}
.gallery-background-text-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px #000;
}
.goto-other-page {
    padding-right: 30px;
    position: relative;
    margin-bottom: 25px;
    margin-top: 15px;
}
.goto-other-page-arrow-right-div {
    position: absolute;
    right: -5px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
}
.goto-other-page-arrow-right-div>img {
    width: 100%;
}
.goto-other-page>a {
    text-decoration: none;
}
.goto-other-page>a:hover {
    text-decoration: none;
}
.goto-other-page-left {
    padding-left: 30px;
    position: relative;
    margin-bottom: 25px;
    margin-top: 15px;
}
.goto-other-page-arrow-left-div {
    position: absolute;
    left: -5px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
}
.goto-other-page-arrow-left-div>img {
    width: 100%;
}
.goto-other-page-left>a {
    text-decoration: none;
}
.goto-other-page-left>a:hover {
    text-decoration: none;
}
.gallery-img-container-div {
    box-shadow: 0px -4px 6px -1px rgba(0,0,0, 0.5);
    padding-top: 30px;
    padding-bottom: 50px;
}
.gallery-single-img-container-div {
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.gallery-single-img-container-div>a>img {
    width: 100%;
    border-radius: 50%;
    transition: all .3s ease-out;
    cursor:pointer;
}

.gallery-single-img-container-div>a>img:hover {
    opacity: 0.7;
    transform: scale(1.5);
}

@media(max-width: 767px) {
    .navbar-header {
        float: left;
    }
}

@media(max-width: 499px) {
    .templatemo-top-menu .navbar-brand>img {
        width: 200px;
    }
    .templatemo-top-menu .navbar-brand {
        margin: 22px 0 0 0;
    }
    .username-hide-on-mobile {
        display: none!important;
    }
    .dropdown.dropdown-user>a.dropdown-toggle {
        padding-right: 0;
    }
}
/*home page header bar complete currently*/
/*start home page*/
.parent_gallery_img_info-div {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
}
.img-gallery-select-div {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}
.gallery-single-img-div {
    width: 160px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
    border: 3px solid #32c5d2;
}
.gallery-single-img-div.active {
    border: 3px solid #f73414;
}
.single-gallery-title-div {
    position: absolute;
    width: 100%;
    bottom: 7px;
    left: 0;
}
.single-gallery-title {
    margin: 0;
    text-align: center;
}
.child_gallery_img_info-div {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
}
.child-single-gallery-title-div {
    position: absolute;
    height: 100%;
    bottom: 20px;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
}
.child-single-gallery-title {
    margin: 0;
    text-align: left;
    white-space: nowrap;
}
.user-img-gallery-parent-div {
    box-shadow: 0px -4px 6px -1px rgba(0,0,0, 0.5);
}
.gallery-single-img-div .gallery-single-img-a>img {
    width: 100%;
}

.gallery-single-img-div .gallery-single-img-a>img:hover {
    width: 100%;
    opacity: 0.7;
}
.img-gallery-select-div .tab-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.subGallery-single-img-div {
    position: relative;
    width: 160px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
    border: 3px solid #32c5d2;
}
.subGallery-single-img-div .subGallery-single-img-a>img {
    width: 100%;
}

.subGallery-single-img-div .subGallery-single-img-a>img:hover {
    width: 100%;
    opacity: 0.7;
}
@media(max-width: 1199px) {
    .child-single-gallery-title-div {
        right: 30px;
    }
}
@media(max-width: 991px) {
    .child-single-gallery-title-div {
        right: -25px;
    }
}
@media(max-width: 767px) {
    .child-single-gallery-title-div {
        position: absolute;
        height: unset;
        bottom: 7px;
        right: auto;
        left: 0;
        display: block;
        width:100%;
    }
    .child-single-gallery-title {
        text-align: center;
    }
}
